<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
                minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="5">
    <title>DMS Home Page</title>
</head>
<body>

<h1>HOME</h1>

<a href="/home">HOME</a>
<a href="/about">ABOUT</a>

<div id="menu">
    LINKS
    <ul>
        <li><a href="./files" target="content"> Posteingang </a></li>
        <li><a href="./filestwo" target="content"> Rechnungen </a></li>
    </ul>
</div>

<div id="content"><iframe name="content" src="./files"></iframe></div>

</body>
</html>